
<div class="neu-form my-5 p-4">
  <h4 class="py-3">Add your review</h4>
  <%= simple_form_for [@movie, @test_review] do |f| %>
    <%= f.button :submit, class:"btn btn-outline-success my-3" %>
  <% end %>
</div>
