<% @airly_tvs.size %> 
<% @popular_tvs.size %>
<% @toprated_tvs.size %>
<% @weeklytrends_tvs.size %>
<% @popular_movies.size %>
<% @toprated_movies.size %>
<% @weeklytrends_movies.size %>
<% @upcoming_movies.size %>

<div class="container-fluid px-3 ps-sm-4 py-4">
  <div class="container-cards py-0 py-sm-1" data-controller="treano-carousel">
    <div class="row m-0">
      <div class="header">
        <h3 class="title m-0">Popular movies</h3>
        <div class="progress-bar" data-treano-carousel-target="progressbar">
        </div>
      </div>
      <div  class="container-media pb-5 p-0">
        <button class="handle left-handle" data-action="click->treano-carousel#updatePrev">
          <div class="text mb-3">&#8249;</div>
        </button>
        <div class="slider" data-treano-carousel-target="slider">
          <% @popular_movies.each do |movie| %>
            <div class="media-element">
              <%= image_tag movie[:poster_url] %>
              <div class="info text-center py-2">
                <p class="text1 m-0 line-clamp"><%= movie[:title] %></p>
                <div class="d-flex align-items-center flex-column justify-content-between px-1">
                  <small class="text-muted ">Rating: <%= movie[:rating_average] %></small>
                  <small class="text-muted">Release date: <%= movie[:release_date] %></small>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <button class="handle right-handle" data-action="click->treano-carousel#updateNext">
          <div class="text mb-4">&#8250;</div>
        </button>
      </div>
    </div>
  </div>
</div>
