<% @airly_tvs.size %> 
<% @popular_tvs.size %>
<% @toprated_tvs.size %>
<% @weeklytrends_tvs.size %>
<% @popular_movies.size %>
<% @toprated_movies.size %>
<% @weeklytrends_movies.size %>
<% @upcoming_movies.size %>

<div class="container-fluid ps-0 ps-sm-4 py-4">
<div data-controller="carousel" class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
</div>
  <div class="">
    <div class="container-cards p-2 p-sm-3">
      <h3>Popular movies</h3>
      <div data-controller="carousel media_carousel" class="media-scroller swiper swiper-container" data-carousel-options-value='{
      "pagination": { "el": ".swiper-pagination", "dynamicBullets": "true" }, "navigation": { "nextEl": ".swiper-button-next", "pervEl": ".swiper-button-prev"
      }}'>
        <div class="swiper-pagination"></div>
        <div class="mx-aut media-group swiper-wrapper">
          <% @popular_movies.each do |movie| %>
            <div class="media-element swiper-slide">
              <%= image_tag movie[:poster_url] %>
              <%#<div class="medio-description bg-trans">%>
                <%#<h5><%= movie[:title] ></h5>%>
              <%#</div>%>
            </div>  
          <% end %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>
