.bg-trans {
  background: rgba(33, 33, 33, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.bg-trans-b {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.trans-text {
  //background: $light;
  //color: $dark !important;
  //mix-blend-mode: screen;
  border-radius: 1rem;
}

.trans-text-ix {
  background: $dark;
  color: $white !important;
  mix-blend-mode: multiply;
}

.bg-trans-0 {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.shadow-b {
  box-shadow: 0 70px 63px -60px #000000;
}

.shadow-w {
  box-shadow: 0 70px 63px -60px #fff;
}
