.info-box {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.info-h {
  min-height: 40vh;
}
