.btn-ghost {
  color: $light;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  border: none;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-input {
  color: $gray-900;
  padding: 0px 1.5vw;
  border-radius: 2px 16px 16px 2px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  transition: background 0.3s ease;
}

.btn-input:hover {
  background: rgba(255, 255, 255, 0.4);
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}


.btn-search {
  width: 2rem;
  height: 2rem;
}

.btn-providers {
  overflow: hidden;
  //padding: 0rem .3rem;
  background: rgba(255, 255, 255, 0.2);
  height: 3.5rem;
  border: 0px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  img {
    width: 2rem;
    min-width: 2rem;
  }
}

.dropdown-toggle::after {
  margin: 0;
}

.h-provider {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 0px solid rgba(255, 255, 255, 0.6);
  border-radius: 1.1rem 0 0 1.1rem;
}

.btn-banner {
  z-index: 100;
}

.vertical-text{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: right;
  //mix-blend-mode: multiply;
}

.btn-back {
  top: 0;
  left: 0;
  color: $gray-200;
  transform: scale(1);
  transition: all 200ms ease;
  &:hover {
    color: $light;
    transform: scale(1.1);
  }
  &:focus {
    color: $gray-600;
    transform: scale(1);
  }
}

.items-btn {
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;
}

.items-btn-left {
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: 1rem;
}

.btn-disabled {
  pointer-events: none;
}

// .save {
//   background-color: red;
// }

// .unsave {
//   background-color: yellow;
// }
