.navbar-top {
  //background: $dark;
  z-index: 10;
  background: rgba(0, 0, 0, 0.03);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: all 100ms ease;
  &:hover {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
}

.hello {
  margin-left: 4rem;
}

.sidebar {
  z-index: 20;
  background-color: $primary;
  transition: width 600ms ease;
  overflow: scroll;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: space-around;
  height: 100%;
}

.side-item {
  width: 100%;
}

.side-item:last-child {
  margin-top: auto;
}

.side-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: $light;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.8);
  transition: 600ms;
  svg {
    width: 1.2rem;
    height: 1.2rem;
    min-width: 1.2rem;
    margin: 0 1rem;
    transition: 400ms;
    color: $light;
  }
  &:hover {
    filter: grayscale(0%) opacity(1);
    background: $dark;
    color: $secondary;
    svg {
      width: 1.7rem;
      height: 1.7rem;
      color: $secondary;
    }
  }
}

.link-text {
  display: none;
  margin-left: .5rem;
}

.logo {
  font-weight: bold;
  text-align: center;
  color: $light;
  background: $dark;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  width: 2rem;
  height: 2rem;
  transform: rotateY(0deg);
  transition: 900ms ease;
}

.logo-text {
  display: inline;
  font-weight: bold;
  position: absolute;
  left: -999px;
  transition: 500ms ease; 
}


@media only screen and (max-width: 768px) {
  .hello {
  margin-left: 1em;
  }
  .sidebar {
    bottom: 0;
    width: 100vw;
    height: 3rem;
    border-radius: 20px 20px 0 0;
  }
  .logo {
    display: none;
  }
  .sidebar-nav {
    flex-direction: row;
  }
  .side-link {
    justify-content: center;
  }
  .side-item:last-child {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .sidebar {
    bottom: 0;
    width: 3.2rem;
    height: 100vh;
    border-radius: 0 20px 20px 0;

    &:hover {
      width: 14rem;
    }
    &:hover .link-text {
      display: inline;
    }
    &:hover .logo svg {
      margin-left: 9rem;
      transform: rotateY(-360deg)
    }
    &:hover .logo .logo-text {
      left: 1rem;
    }
  }
}
