.navbar-lewagon {
  justify-content: space-between;
  background: $dark;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 3rem;
}

.sidebar {
  width: 3rem;
  height: 90vh;
  position: fixed;
  background-color: $primary;
}
.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  color: $light;
}
