.navbar-top {
  //background: $dark;
  width: 100vw;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  //border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.hello {
  margin-left: 4rem;
}

.sidebar {
  z-index: 20;
  background-color: $primary;
  transition: width 600ms ease;
  overflow: scroll;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.side-item {
  width: 100%;
}

.side-item:last-child {
  margin-top: 6vh;
}

.side-link {
  display: flex;
  align-items: center;
  //height: 5rem;
  color: $light;
  text-decoration: none;
  transition: 600ms;
  svg {
    width: 1.5rem;
    height: 1.5rem;
    min-width: 1.5rem;
    margin: 0 1rem;
    fill: none;
    transition: 500ms;
    &:hover {
      color: $secondary;
      width: 2rem;
      height: 2rem;
      fill: $light;
    }
  }
  img {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    margin: 0 .75rem;
  }
}

.link-text {
  display: none;
  margin-left: 0rem;
}

.logo {
  font-weight: bold;
  margin-bottom: 1vh;
  text-align: center;
  color: $light;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  width: 2rem;
  height: 2rem;
  transform: rotateY(0deg);
  transition: 900ms ease;
}

.logo-text {
  display: inline;
  font-weight: bold;
  position: absolute;
  left: -999px;
  transition: 500ms ease; 
}



@media only screen and (max-width: 600px) {
  .hello {
  margin-left: 1em;
  }
  .sidebar {
    bottom: 0;
    width: 100vw;
    height: 3.5rem;
    border-radius: 20px 20px 0 0;
  }
  .logo {
    display: none;
  }
  .sidebar-nav {
    flex-direction: row;
  }
  .side-link {
    justify-content: center;
  }
  .side-item:last-child {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .sidebar {
    bottom: 0;
    width: 3.5rem;
    height: 100vh;
    border-radius: 0 20px 20px 0;

    &:hover {
      width: 16rem;
    }
    &:hover .link-text {
      display: inline;
    }
    &:hover .logo svg {
      margin-left: 11rem;
      transform: rotateY(-360deg)
    }
    &:hover .logo .logo-text {
      left: 2.5rem;
    }
  }
}
